body {
  height: 100vh;
  margin: 0;
  padding: 5vmin;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10vmin;
  font-family: 'Arimo', Arial, sans-serif;
  line-height: 1.2em;
  text-align: center;
  text-rendering: optimizeLegibility;
}